<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sanni-Anibire T.A</title>
</head>
<body>
    <h1>I'm Sanni-Anibire Toyyib A.</h1>
    <h3>I'm a Machine Learning Developer</h3>
    <h5>Yeah! I build stuffs</h5>
    <button>Résumé</button> <button>Contact</button>
</body>
</html>